In [4]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
# pd.set_option("display.max_column", None)

### Reading the dataset

In [5]:
df = pd.read_csv("./e-finance dataset.csv")

In [6]:
df.head(3)

,Authors,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,...,ISBN,CODEN,PubMed ID,Language of Original Document,Abbreviated Source Title,Document Type,Publication Stage,Access Type,Source,EID
0,"Beni E.H., Lagaisse B., Joosen W., Aly A., Bra...",57189258279;8933999000;22834655700;55841871100...,Datablinder: A distributed data protection mid...,2019,Middleware Industry 2019 - Proceedings of the ...,NaN,NaN,NaN,50,57.0,...,9781450370417,NaN,NaN,English,Middlew. Ind. - Proc. Int. Middlew. Conf. Ind....,Conference Paper,Final,Open Access,Scopus,2-s2.0-85078939286
1,"Xiong H., Zhou Y.",57212174318;57212168803;,Construction and Application of Ocean Shipping...,2019,Journal of Coastal Research,97,sp1,NaN,29,34.0,...,NaN,JCRSE,NaN,English,J. Coast. Res.,Article,Final,NaN,Scopus,2-s2.0-85076117139
2,"Feng L., Zhang H., Tsai W.-T., Sun S.",57194783804;56979549200;57050382000;57197771738;,System architecture for high-performance permi...,2019,Frontiers of Computer Science,13,6,NaN,1151,1165.0,...,NaN,NaN,NaN,English,Front. Comput. Sci.,Article,Final,NaN,Scopus,2-s2.0-85051801026

In [7]:
df.shape

(228, 46)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Authors                        228 non-null    object
 1   Author(s) ID                   228 non-null    object
 2   Title                          228 non-null    object
 3   Year                           228 non-null    int64
 4   Source title                   227 non-null    object
 5   Volume                         180 non-null    object
 6   Issue                          147 non-null    object
 7   Art. No.                       27 non-null     object
 8   Page start                     206 non-null    object
 9   Page end                       199 non-null    float64
 10  Page count                     4 non-null      float64
 11  Cited by                       153 non-null    float64
 12  DOI                            174 non-null    object
 13  Link                           228 non-null    object
 14  Affiliations                   214 non-null    object
 15  Authors with affiliations      226 non-null    object
 16  Abstract                       228 non-null    object
 17  Author Keywords                180 non-null    object
 18  Index Keywords                 101 non-null    object
 19  Molecular Sequence Numbers     0 non-null      float64
 20  Chemicals/CAS                  0 non-null      float64
 21  Tradenames                     0 non-null      float64
 22  Manufacturers                  0 non-null      float64
 23  Funding Details                19 non-null     object
 24  Funding Text 1                 24 non-null     object
 25  Funding Text 2                 2 non-null      object
 26  References                     212 non-null    object
 27  Correspondence Address         191 non-null    object
 28  Editors                        11 non-null     object
 29  Sponsors                       32 non-null     object
 30  Publisher                      140 non-null    object
 31  Conference name                62 non-null     object
 32  Conference date                61 non-null     object
 33  Conference location            45 non-null     object
 34  Conference code                62 non-null     float64
 35  ISSN                           174 non-null    object
 36  ISBN                           66 non-null     object
 37  CODEN                          27 non-null     object
 38  PubMed ID                      4 non-null      float64
 39  Language of Original Document  228 non-null    object
 40  Abbreviated Source Title       218 non-null    object
 41  Document Type                  228 non-null    object
 42  Publication Stage              228 non-null    object
 43  Access Type                    16 non-null     object
 44  Source                         228 non-null    object
 45  EID                            228 non-null    object
dtypes: float64(9), int64(1), object(36)
memory usage: 82.1+ KB

In [9]:
df.describe()

,Year,Page end,Page count,Cited by,Molecular Sequence Numbers,Chemicals/CAS,Tradenames,Manufacturers,Conference code,PubMed ID
count,228.000000,199.000000,4.000000,153.000000,0.0,0.0,0.0,0.0,62.000000,4.000000e+00
mean,2010.214912,723.462312,69.750000,9.294118,NaN,NaN,NaN,NaN,99295.548387,2.013451e+07
std,6.172437,5156.031031,115.508658,14.032801,NaN,NaN,NaN,NaN,33891.037731,9.310620e+06
min,1981.000000,3.000000,10.000000,1.000000,NaN,NaN,NaN,NaN,6372.000000,1.030222e+07
25%,2007.000000,100.500000,12.250000,2.000000,NaN,NaN,NaN,NaN,84516.750000,1.424886e+07
50%,2011.000000,206.000000,13.000000,4.000000,NaN,NaN,NaN,NaN,92701.500000,1.924810e+07
75%,2014.000000,416.000000,70.500000,10.000000,NaN,NaN,NaN,NaN,109673.250000,2.513375e+07
max,2019.000000,72560.000000,243.000000,86.000000,NaN,NaN,NaN,NaN,227949.000000,3.173961e+07

## checking for null

In [10]:
dfnull = df.isna().sum() >= 220
dfnull.sort_values(ascending=False)

Funding Text 2                    True
Manufacturers                     True
Tradenames                        True
Chemicals/CAS                     True
Molecular Sequence Numbers        True
PubMed ID                         True
Page count                        True
Conference location              False
Correspondence Address           False
Editors                          False
Sponsors                         False
Publisher                        False
Conference name                  False
Conference date                  False
Authors                          False
References                       False
ISSN                             False
ISBN                             False
CODEN                            False
Language of Original Document    False
Abbreviated Source Title         False
Document Type                    False
Publication Stage                False
Access Type                      False
Source                           False
Conference code                  False
Funding Details                  False
Funding Text 1                   False
Page end                         False
Title                            False
Year                             False
Source title                     False
Volume                           False
Issue                            False
Art. No.                         False
Page start                       False
Cited by                         False
Author(s) ID                     False
DOI                              False
Link                             False
Affiliations                     False
Authors with affiliations        False
Abstract                         False
Author Keywords                  False
Index Keywords                   False
EID                              False
dtype: bool

### Removing columns with Null values greater or equivalent 220 rows

In [12]:
df = df.drop(columns=["Molecular Sequence Numbers","Chemicals/CAS","Tradenames","Manufacturers","Funding Text 2","PubMed ID","Page count"], axis=1)

In [13]:
df.shape

(228, 39)

In [14]:
df.head(1)

,Authors,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,...,ISSN,ISBN,CODEN,Language of Original Document,Abbreviated Source Title,Document Type,Publication Stage,Access Type,Source,EID
0,"Beni E.H., Lagaisse B., Joosen W., Aly A., Bra...",57189258279;8933999000;22834655700;55841871100...,Datablinder: A distributed data protection mid...,2019,Middleware Industry 2019 - Proceedings of the ...,NaN,NaN,NaN,50,57.0,...,NaN,9781450370417,NaN,English,Middlew. Ind. - Proc. Int. Middlew. Conf. Ind....,Conference Paper,Final,Open Access,Scopus,2-s2.0-85078939286

In [15]:
df.isna().sum()

Authors                            0
Author(s) ID                       0
Title                              0
Year                               0
Source title                       1
Volume                            48
Issue                             81
Art. No.                         201
Page start                        22
Page end                          29
Cited by                          75
DOI                               54
Link                               0
Affiliations                      14
Authors with affiliations          2
Abstract                           0
Author Keywords                   48
Index Keywords                   127
Funding Details                  209
Funding Text 1                   204
References                        16
Correspondence Address            37
Editors                          217
Sponsors                         196
Publisher                         88
Conference name                  166
Conference date                  167
Conference location              183
Conference code                  166
ISSN                              54
ISBN                             162
CODEN                            201
Language of Original Document      0
Abbreviated Source Title          10
Document Type                      0
Publication Stage                  0
Access Type                      212
Source                             0
EID                                0
dtype: int64